
HTML{
    scroll-behavior: smooth;
}
.hugetext{
    font-size: 6rem;
}
.w100{
    width: 100%;
}
h1, h2{
    margin: 0 0 15px 0;
}
.btn{
    color: white;
    background-color: black;
    text-decoration: none;
    font-size: .875rem;
    padding: 7px 30px 7px 30px;
    margin-top: 20px;
    border-radius: 10px;
}
.btn:hover{
    background-color: darkslategrey;
}
.hero{
    height: 100vh;
    display: flex;
    background-color: #000000;
    color: #ffffff;
}
.aboutme{
    position: absolute;
    width: 100%;
    z-index: 3;
    margin-top: -200px;
    height: 100vh;
    display: flex;
    background-color: #6420AA;
    color: #FFB5DA;
}
.korobka{
    padding: 0 150px 0 100px;
    text-align: center;
    width: 45%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    margin: 0;
    color: #000000;

}
img{
    width: 70%;
    z-index: 2;
    rotate: 5deg;
}
h1{
    font-size: 100px;
}
.prizrak{
    width: 120px;
    position: absolute;
    
}
.t300{
    top: 300px;
}
.t400{
    top: 400px;
}
.t500{
    top: 500px;
}
.t600{
    top: 600px;
}
.krug{
    rotate: 5deg;
    z-index: 1;
    position: absolute;
    height: 900px;
    width: 520px;
    top: 130px;
    left: calc(50% + 180px);
    background: white;
    nav{
        border: 1px solid #C5FF95 ;
        margin: 20px 50px;
        border-radius: 50px;
        width: calc(100% - 100px);
        color: #C5FF95;
        background-color: #074173;
        display: flex;
        align-items: center;
        height: 60px;
        /*position: fixed;*/
    }